@charset "UTF-8";
@use "sass:map";
@use "sass:math";

// メディアクエリ
$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  pc: "screen and (min-width: 768px)",
);
@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 10) * 1rem;
}

// ラフマインド案件用のスマ表示用フォントサイズ
// @function vw($sp-pixels) {
//   @return math.div($sp-pixels, 750) * 100vw;
// }

@function spSize($size) {
  @return unquote("calc(#{$size} * (100vw / 750))");
}

// テスト環境で確認
body {
  margin: 0;
}

/* ===========================================
reset CSS
=========================================== */
#FU250319floweritems {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  dl,
  li,
  dt,
  dd,
  p,
  div,
  span,
  img,
  a,
  table,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
  }

  header,
  footer,
  nav,
  section,
  article,
  main,
  aside,
  figure,
  figcaption {
    display: block;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    font: inherit;
  }

  input,
  select,
  textarea {
    font: inherit;
    color: inherit;
    vertical-align: top;
  }
  /* ===========================================
  共通設定
  =========================================== */
  font-family: 游ゴシック体, 游ゴシック Medium, Yu Gothic Medium, Yu Gothic,
    YuGothic, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-variation-settings: "wght" 400;
  color: #000000;

  .text {
    font-size: rem(13);
    font-feature-settings: "palt";
    line-height: calc(28.9 / 13);
    letter-spacing: calc(25 / 1000 * 1em);
    @include mq("sp") {
      letter-spacing: 0.02em;
      font-size: spSize(24);
    }

    &.text--en {
      font-family: "pragmatica", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: calc(26.4 / 12);
      font-size: rem(12);
      letter-spacing: calc(50 / 1000 * 1em);
      @include mq("sp") {
        line-height: calc(48.4 / 22);
        font-size: spSize(22);
      }
    }
  }

  .price {
    font-family: "pragmatica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: rem(12);
    line-height: calc(26.4 / 12);
    letter-spacing: calc(50 / 1000 * 1em);
    @include mq("sp") {
      font-size: spSize(22);
      line-height: calc(48.4 / 22);
      letter-spacing: 0.045em;
    }
  }

  .hidden-pc {
    @include mq("pc") {
      display: none;
    }
  }
  .hidden-sp {
    @include mq("sp") {
      display: none;
    }
  }

  /* ===========================================
  アニメーション
  =========================================== */
  .js-fadeIn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      visibility 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .js-fadeIn.visible {
    opacity: 1;
    visibility: visible;
  }
  /* ===========================================
  First View
  =========================================== */
  .fv {
  }
  .fv__link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }
  .fv__picture {
    img {
      width: 100vw;
    }
  }
  /* ===========================================
  Description
  =========================================== */
  .description {
    padding-top: rem(100);
    padding-bottom: rem(93.8);
    @include mq("sp") {
      padding-top: spSize(140);
      padding-bottom: spSize(128);
    }
  }
  .description__text {
    margin-top: rem(-6.3);
    text-align: center;
    @include mq("sp") {
      margin-top: spSize(-14);
    }
  }

  /* ===========================================
  product-block-01
  =========================================== */
  .product-block-01 {
    padding-top: rem(calc(99));
    padding-bottom: rem(98);
    background: #fff7f7;
    @include mq("sp") {
      padding-top: spSize(140);
      padding-bottom: spSize(130);
    }
  }
  .product-block-01__image-wrapper {
    position: relative;
  }
  .product-block-01__image {
    position: relative;
    z-index: 10;
    padding-top: rem(75);
    padding-bottom: rem(70);
    text-align: center;
    @include mq("sp") {
      padding-top: spSize(110);
      padding-bottom: spSize(90);
    }
    img {
      max-width: rem(450);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(630);
      }
    }
  }
  .product-block-01__image-link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }
  .product-block-01__deco-frame {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    @include mq("sp") {
      width: 100%;
    }
    img {
      max-width: rem(590);
      width: 100%;
      @include mq("sp") {
        max-width: 100%;
      }
    }
  }
  .product-block-01__deco-flower-left {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-1 * ((rem(450) / 2) + rem(110))));
    pointer-events: none;
    @include mq("sp") {
      left: 0;
      transform: translateX(0);
      bottom: spSize(-4);
    }
    img {
      max-width: rem(170);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(180);
      }
    }
  }
  .product-block-01__deco-flower-right {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 50%;
    transform: translateX(calc((rem(450) / 2) + rem(110)));
    pointer-events: none;

    @include mq("sp") {
      right: 0;
      transform: translateX(0);
    }
    img {
      max-width: rem(180);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(220);
      }
    }
  }
  .product-block-01__body {
    margin-top: rem(33);
    @include mq("sp") {
      margin-top: spSize(65);
    }
  }
  .product-block-01__text {
    text-align: center;
  }
  .product-block-01__price {
    margin-top: rem(25);
    display: flex;
    gap: rem(10);
    justify-content: center;
    align-content: center;
    @include mq("sp") {
      margin-top: spSize(40);
      gap: spSize(18);
    }
  }
  .product-block-01__price-link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }

  /* ===========================================
  product-block-02
  =========================================== */
  .product-block-02 {
    padding-top: rem(100);
    padding-bottom: rem(100);
    background: #f3f9fb;
    @include mq("sp") {
      padding-top: spSize(140);
      padding-bottom: spSize(123);
    }
  }
  .product-block-02__inner {
    max-width: calc(rem(1080) + rem(20) * 2);
    padding-left: rem(20);
    padding-right: rem(20);
    margin-left: auto;
    margin-right: auto;
    @include mq("sp") {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .product-block-02__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(45);
    @include mq("sp") {
      flex-direction: column;
      gap: spSize(67);
    }
  }
  .product-block-02__image-area {
    position: relative;
    flex-shrink: 0;
    padding-top: rem(39);
    padding-left: rem(124);
    padding-bottom: rem(86);
    @include mq("sp") {
      padding-top: spSize(60);
      padding-left: spSize(120);
      padding-bottom: spSize(124);
    }
  }
  .product-block-02__image {
    position: relative;
    img {
      max-width: rem(450);
      width: 100%;
      border-top-left-radius: rem(225);
      border-top-right-radius: rem(225);
      @include mq("sp") {
        max-width: rem(680);
        border-top-left-radius: spSize(315);
        border-top-right-radius: spSize(315);
      }
    }
  }
  .product-block-02__image-link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }
  .product-block-02__top-text {
    pointer-events: none;
    position: absolute;
    top: rem(-1);
    left: rem(55);
    @include mq("sp") {
      left: spSize(27);
      top: spSize(8);
      max-width: spSize(301);
      width: 100%;
    }
    img {
      max-width: rem(230);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(322);
      }
    }
  }
  .product-block-02__bottom-text {
    position: absolute;
    bottom: rem(6);
    right: rem(2);
    width: 100%;
    text-align: right;
    @include mq("sp") {
      right: 0;
      padding-right: spSize(22);
      bottom: spSize(5);
    }
    img {
      max-width: rem(360);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(508);
        width: 100%;
      }
    }
  }
  .product-block-02__left-flower {
    position: absolute;
    bottom: rem(46);
    left: rem(2);
    pointer-events: none;

    @include mq("sp") {
      bottom: spSize(-20);
      left: spSize(10);
    }
    img {
      max-width: rem(158);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(200);
      }
    }
  }
  // SPのみ
  .product-block-02__top-flower {
    pointer-events: none;

    @include mq("sp") {
      position: absolute;
      top: spSize(-59);
      right: spSize(16);
      img {
        max-width: spSize(177);
        width: 100%;
      }
    }
  }
  .product-block-02__body {
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin-bottom: rem(8);
    @include mq("sp") {
      margin-bottom: spSize(8);
    }
  }
  .product-block-02__text {
    text-align: center;
    @include mq("sp") {
      line-height: 2.19;
    }
  }
  .product-block-02__price__wrapper {
    margin-top: rem(27);
    @include mq("sp") {
      margin-top: spSize(38);
    }
  }
  .product-block-02__price {
    display: flex;
    gap: rem(10);
    justify-content: center;
    align-items: center;
    @include mq("sp") {
      gap: spSize(20);
    }
  }
  .product-block-02__price-link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }

  .product-block-02__center-flower {
    position: absolute;
    bottom: rem(-108);
    left: rem(4);
    pointer-events: none;

    @include mq("sp") {
      right: spSize(9);
      left: auto;
      bottom: spSize(-75);
    }
    img {
      max-width: rem(130);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(160);
      }
    }
  }
  .product-block-02__right-flower {
    position: absolute;
    top: rem(-92);
    right: rem(-5);
    pointer-events: none;

    img {
      max-width: rem(120);
      width: 100%;
    }
  }

  /* ===========================================
  product-block-03
  =========================================== */
  .product-block-03 {
    padding-top: rem(98);
    padding-bottom: rem(94);
    background: #fdf7ee;
    @include mq("sp") {
      padding-top: spSize(141);
      padding-bottom: spSize(132);
    }
  }
  .product-block-03__inner {
    max-width: calc(rem(990) + rem(20) * 2);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    @include mq("sp") {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .product-block-03__wrapper {
    position: relative;
  }
  .product-block-03__images {
    display: flex;
    gap: 60px;
    @include mq("sp") {
      flex-direction: column-reverse;
      gap: 0;
    }
  }
  .product-block-03__image-area1 {
  }
  .product-block-03__top-text {
    margin-top: rem(107);
    margin-left: rem(29);
    @include mq("sp") {
      margin-top: spSize(17);
      margin-left: 0;
      margin-right: spSize(22);
      text-align: right;
    }
    img {
      max-width: rem(380);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(450);
      }
    }
  }
  .product-block-03__image1 {
    margin-top: rem(15);
    padding-left: rem(89);

    @include mq("sp") {
      padding-left: 0;
      margin-top: spSize(36);
    }
    img {
      max-width: rem(420);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(630);
      }
    }
  }

  .product-block-03__image-area2 {
  }
  .product-block-03__image2 {
    // margin-top: rem(10);
    padding-right: 79px;

    @include mq("sp") {
      padding-right: spSize(20);
      text-align: right;
    }
    img {
      max-width: rem(330);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(480);
      }
    }
  }
  .product-block-03__image-link {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }
  .product-block-03__bottom-text {
    text-align: right;
    margin-top: rem(26);
    margin-right: rem(15);
    @include mq("sp") {
      text-align: left;
      margin-left: spSize(42);
      margin-top: spSize(50);
      margin-right: auto;
    }
    img {
      max-width: rem(330);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(528);
      }
    }
  }
  .product-block-03__flower1 {
    position: absolute;
    bottom: rem(180);
    left: rem(1);
    pointer-events: none;

    @include mq("sp") {
      top: spSize(788);
      left: spSize(20);
      bottom: auto;
    }
    img {
      max-width: rem(137);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(201);
      }
    }
  }
  .product-block-03__flower2 {
    position: absolute;
    top: rem(-40);
    right: rem(10);
    pointer-events: none;

    @include mq("sp") {
      top: spSize(-64);
      left: spSize(180);
      right: auto;
    }
    img {
      max-width: rem(122);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(194);
      }
    }
  }
  .product-block-03__flower3 {
    position: absolute;
    bottom: rem(192);
    right: rem(185);
    pointer-events: none;

    @include mq("sp") {
      bottom: spSize(-82);
      left: spSize(25);
      right: auto;
    }
    img {
      max-width: rem(82);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(119);
      }
    }
  }
  .product-block-03__flower4 {
    position: absolute;
    bottom: rem(235);
    right: rem(60);
    pointer-events: none;

    @include mq("sp") {
      bottom: spSize(474);
      right: spSize(11);
      overflow-x: clip;
    }
    img {
      max-width: rem(140);
      width: 100%;
      @include mq("sp") {
        max-width: spSize(178);
      }
    }
  }
  .product-block-03__body {
    margin-top: rem(55);
    @include mq("sp") {
      margin-top: spSize(66);
    }
  }
  .product-block-03__text {
    text-align: center;
    @include mq("sp") {
      line-height: 2.2;
    }
  }
  .product-block-03__price-wrapper {
    margin-top: rem(25);
    @include mq("sp") {
      margin-top: spSize(35);
    }
  }
  .product-block-03__price {
    display: flex;
    gap: rem(10);
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    @include mq("sp") {
      gap: spSize(21);
      padding-left: spSize(2);
    }
  }
  .product-block-03__price-link {
    transition: opacity 0.3s;
    list-style: 2.15em;
    &:hover {
      opacity: 0.6;
      @include mq("sp") {
        opacity: 1;
      }
    }
  }

  /* ===========================================
  bottom-wrapper
  =========================================== */
  .bottom-wrapper {
    padding-top: rem(93);
    padding-bottom: rem(140);
    @include mq("sp") {
      padding-top: spSize(126);
      padding-bottom: spSize(180);
    }
  }
  .bottom-wrapper__inner {
    max-width: calc(rem(680) + rem(20) * 2);
    padding-left: rem(20);
    padding-right: rem(20);
    margin-left: auto;
    margin-right: auto;
    @include mq("sp") {
      max-width: calc(spSize(600) + spSize(20) * 2);
      padding-left: spSize(20);
      padding-right: spSize(20);
    }
  }
  .bottom-wrapper__staff {
    text-align: center;
    @include mq("sp") {
      padding-left: 0.1rem;
    }
  }
  .bottom-wrapper__staff {
    text-align: center;
    padding-left: 0.3rem;
  }
  .bottom-wrapper__button {
    margin-top: rem(36);

    background: #89b4c0;
    color: #fff;
    text-align: center;

    @include mq("sp") {
      margin-top: spSize(60);
      transform: translateX(spSize(1));
    }

    a {
      display: inline-block;
      padding: rem(20) rem(20) rem(18);
      width: 100%;
      font-family: "pragmatica", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: rem(22);
      line-height: 1;
      letter-spacing: calc(50 / 1000 * 1em);

      @include mq("sp") {
        font-size: spSize(40);
        padding: spSize(38) spSize(36) spSize(34);
      }
    }
  }
}
